.toast {
  	margin: 0.5em;
    display: block;
     border-radius: 0.5em;
    padding: 0.5em;
    background-color: gray;
    color: white;
    font-size: smaller;
    /*z-index: 1000;*/
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: linear;
  }

section.anchor {
	position: fixed;
	top:0;
	background: white;
	width: 100%;
	}

/*.select_one {
    display: inline-block;
 flex-flow: row nowrap;
 justify-content: flex-start;
}*/

/*.started {
	font-size: smaller;
      display: inline-block;
 flex-flow: row nowrap;
 justify-content: flex-end;
	}
 */

.autosave_template {
	display: none;
	}
	
.autosave {
     border-radius: 0.5em;
	background: lightblue;
  	border: 1em solid white;
	max-width: 30%;
	}

 .text:not(focus) {
  	border: 1px dashed;
 	white-space: normal;
 	display: inline-block;
	/*word-wrap: break-word;*/
 	/*word-break: break-all;*/
	min-height: 1em;
	max-height: 3em;
	overflow: hidden;
  }
  
 .text:focus {
	font-size: medium;
 	white-space: pre;
	max-height: none;
	max-width: none;
	overflow: hidden;
 }
	
.autosaves {
  	position: relative;
  	top: 10em;
  	margin: 10em;
  	padding: 0.1em;
 display: inline-flex;
 flex-flow: row wrap;
  justify-content: flex-start;
  overflow: auto;
 }

.messages {
  	/*border: 0.1em dashed silver;*/
  	position: fixed;
  	padding: 0.1em;
  	color: red;
 bottom: 0;
 right: 0;
 /*left: 1em;*/
 display: inline-flex;
 flex-flow: row wrap;
  justify-content: flex-end;
  	margin: 0;
 }
 